<md-content id="home-dashboard" layout="column" flex layout-fill="">
  <md-toolbar class="md-hue-2" md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="$ctrl.toggleMenu()">
        <md-icon>menu</md-icon>
      </md-button>
      <span>Survey Player</span>
      <span flex></span>
      <md-button class="md-icon-button cursor-auto" aria-label="Connection">
        <connection-icon></connection-icon>
      </md-button>
      <span layout-margin="" hide-xs show-gt-xs>{{ $ctrl.user.name }}</span>
      <md-button class="md-icon-button md-raised md-accent" aria-label="Login" id="shortLogin"
                 ng-click="$ctrl.authenticate()" hide-xs show-gt-xs ng-disabled="$ctrl.disableAuth">
        <md-icon ng-if="!$ctrl.user">person</md-icon>
        <md-icon ng-if="$ctrl.user">how_to_reg</md-icon>
        <md-tooltip ng-if="!$ctrl.user">Entrar</md-tooltip>
        <md-tooltip ng-if="$ctrl.user">Autenticado</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-progress-linear md-mode="indeterminate" class="md-accent" ng-if="$ctrl.isLoading"></md-progress-linear>
  <md-content ng-if="!$ctrl.user" layout="column" flex="">
  </md-content>
  <md-content ng-if="$ctrl.user" layout="column" flex="">
    <div class="" md-dynamic-height md-selected="selectedIndex" md-border-bottom md-autoselect>
      <div layout="column">
        <activity-group-collection selected-group="$ctrl.selectedGroup" commands="$ctrl.commands" user="$ctrl.user"
                                   show-commands="selectedIndex == 0"></activity-group-collection>
      </div>
      <div ng-show="!$ctrl.preActivities.length && !$ctrl.selectedGroup" layout="row" flex="100" layout-align="center center">
        <div layout="column" flex="50" layout-align="center center">
          <span class="md-title" layout="row" flex="100" flex>Carregando atividades disponiveis.</span>
          <md-progress-linear layout="row" flex="100" md-mode="indeterminate" ></md-progress-linear>
        </div>
      </div>
      <md-content class="md-padding" flex="100" layout="column" ng-show="$ctrl.preActivities.length && !$ctrl.selectedGroup">
        <div flex="100" layout="row" layout-align="end center" layout-padding="">
          <span class="md-subheader" flex>Verifique sempre se há atividades desatualizadas! Se necessário, conecte-se a internet para atualiza-las.</span>
        </div>
        <survey-list user="$ctrl.user" pre-activities="$ctrl.preActivities" layout-padding="" flex
                     ng-if="$ctrl.preActivities.length"></survey-list>
      </md-content>
    </div>
  </md-content>
  <footer>
    <md-toolbar class="md-scroll-shrink">
      <div layout="row" layout-align="start center" flex layout-padding="">
        <small flex class="md-caption">Plataforma Otus</small>
        <md-button class="{{command.theme}}" style="margin-right: 30px" ng-repeat="command in $ctrl.commands"
                   ng-click="command.action()" ng-disabled="!$ctrl.canSend(command)">
          <md-icon>{{''.concat(command.icon)}}</md-icon>
        </md-button>
      </div>
    </md-toolbar>
  </footer>

  <md-sidenav class="md-sidenav-left" md-component-id="userMenu"
              md-whiteframe="4">
    <md-toolbar class="md-theme-indigo">
      <div class="md-toolbar-tools">
        <h1 flex md-truncate>Informações</h1>
        <md-button class="md-icon-button" ng-click="$ctrl.toggleMenu()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-content layout-margin="" layout="column">
    <span class="md-subheader" layout-align="start center" layout="row" flex="">
      <div><md-icon>account_circle</md-icon> Dados da Conta</div>
    </span>
      <p class="md-body-1" flex="" ng-show="!$ctrl.user">
        Usuário não identificado
      </p>
      <div ng-show="$ctrl.user" layout="column">
        <span class="md-body-2">{{ $ctrl.user.name + ' ' + $ctrl.user.surname}}</span>
        <span class="md-body-1">{{ $ctrl.user.email}}</span>
      </div>
      <span flex="20"></span>
      <md-button ng-click="$ctrl.authenticate($event)" aria-label="Login" class="md-accent" style="top: 50%">
        <span ng-if="!$ctrl.user">ENTRAR</span>
        <span ng-if="$ctrl.user">SAIR</span>
      </md-button>
    </md-content>
  </md-sidenav>
</md-content>
