<div id="home-dashboard" >
  <md-toolbar class="md-hue-2" md-scroll-shrink>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" ng-click="$ctrl.toggleMenu()">
        <md-icon>menu</md-icon>
      </md-button>
      <h2 flex md-truncate>Survey Player</h2>
      <span flex></span>
      <md-button class="md-icon-button cursor-auto" aria-label="Connection">
        <connection-icon></connection-icon>
      </md-button>
      <span layout-margin="">{{ $ctrl.user.name }}</span>
      <md-button class="md-icon-button md-raised md-accent" aria-label="Login" ng-click="$ctrl.authenticate($event)">
        <md-icon ng-if="!$ctrl.auth()">person</md-icon>
        <md-icon ng-if="$ctrl.auth()">how_to_reg</md-icon>
        <md-tooltip ng-if="!$ctrl.auth()">Entrar</md-tooltip>
        <md-tooltip ng-if="$ctrl.auth()">Autenticado</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-padding="">
    <survey-list user="$ctrl.user" ng-show="$ctrl.user" layout-padding="" flex></survey-list>
  </md-content>


<md-sidenav class="md-sidenav-left" md-component-id="userMenu"
            md-whiteframe="4" md-disable-close-events>

  <md-toolbar class="md-theme-indigo">
    <div class="md-toolbar-tools">
      <h1 flex md-truncate>Informações</h1>
      <md-button class="md-icon-button" ng-click="$ctrl.toggleMenu()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-content layout-margin="" layout="column">
    <span class="md-subheader" layout-align="start center" layout="row" flex="">
      <div><md-icon>account_circle</md-icon> Dados da Conta</div>
    </span>
    <p class="md-body-1" flex="" ng-show="!$ctrl.user">
      Usuário não identificado
    </p>
    <div ng-show="$ctrl.user" layout="column">
      <span class="md-body-2">{{ $ctrl.user.name + ' ' + $ctrl.user.surname}}</span>
      <span class="md-body-1">{{ $ctrl.user.email}}</span>
    </div>
    <span flex="20"></span>
    <md-button ng-click="$ctrl.authenticate($event)" aria-label="Login" class="md-accent">
      <span ng-if="!$ctrl.auth()">ENTRAR</span>
      <span ng-if="$ctrl.auth()">SAIR</span>
    </md-button>
  </md-content>
</md-sidenav>

</div>