<div layout="column">

  <div layout="row">
    <otus-label class="md-headline question-label" item-label="$ctrl.itemData.label.ptBR.formattedText" flex layout-padding style="color: gray"></otus-label>
  </div>

  <div layout="column" layout-align="space-between">
    <otus-misc-item ng-if="$ctrl.isItem() && ($ctrl.itemData.objectType === 'ImageItem')" item-data="$ctrl.itemData"
                    layout="column"></otus-misc-item>
    <div ng-if="!$ctrl.isItem()" layout="row" layout-fill="" layout-align="space-between end">

      <div layout="row" layout-xs="column" layout-align-gt-xs="space-between start"
           flex-gt-md="45" flex-md="70" flex-sm
           layout-padding style="margin-left: 10px">
        <div bind-html-compile="$ctrl.template"></div>

        <md-radio-group id="metadataGroupRadioGroup" ng-model="$ctrl.itemData.data.metadata.value">
          <div value="{{option.value}}" ng-repeat="option in $ctrl.itemData.metadata.options"
               layout="row">
            <md-radio-button aria-label="{{option.label}}" value="{{option.value}}"
                             ng-disabled="true">
              <otus-label item-label="option.label.ptBR.formattedText"></otus-label>
            </md-radio-button>
          </div>
        </md-radio-group>
      </div>

<!--      button edit with label-->
      <div layout="column">
        <md-button hide-sm hide-xs class="md-accent md-whiteframe-3dp" ng-click="$ctrl.goingBack()" >
          <md-icon md-font-set="material-icons" class="material-icons ng-binding md-layoutTheme-theme">edit</md-icon>
          Editar questão
        </md-button>
      </div>

      <span hide-gt-sm flex="10"></span>
    </div>

    <md-content layout-padding>
      <div layout="row">
        <md-input-container class="md-block" flex>
          <label>Comentário</label>
          <textarea ng-model="$ctrl.itemData.data.comment" ng-disabled="true"></textarea>
        </md-input-container>
      </div>
    </md-content>

<!--    icon-->
    <div hide-gt-sm layout="row" layout-align="end">
      <md-button class="md-fab md-mini md-accent md-whiteframe-3dp" ng-click="$ctrl.goingBack()">
        <md-icon md-font-set="material-icons" class="material-icons ng-binding md-layoutTheme-theme">edit</md-icon>
        <md-tooltip md-direction="down">
          Editar questão
        </md-tooltip>
      </md-button>
    </div>

  </div>
</div>
<md-divider class="question-divider"></md-divider>