<div layout="column" layout-margin style="background-color: white">

  <div layout="row" layout-padding ng-if="!$ctrl.isItem()">
    <otus-label class="md-headline question-label" item-label="$ctrl.itemData.label.ptBR.formattedText" flex layout-padding>
  </div>

  <div layout="column" layout-align="space-between" flex>
    <otus-question ng-if="$ctrl.isQuestion()" on-update="$ctrl.update(valueType, value)"
                   on-processing-player="$ctrl.onProcessingPlayer()" item-data="$ctrl.itemData" layout="column"
                   flex></otus-question>
    <otus-misc-item ng-if="$ctrl.isItem()" item-data="$ctrl.itemData" layout="column" layout-padding flex></otus-misc-item>
  </div>

  <otus-validation-error error="$ctrl.$error" layout="row"></otus-validation-error>
</div>
