.survey-item-header {
  background-color: #d8d8d8;  border-radius: 4px
}

.survey-item-ID {
  margin-left: 8px;
}

.survey-item-layout {
  display: grid;
  width: 100vw;
  height: 60vh;
  background-color: white;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;

  grid-template-columns: 12fr;
  grid-template-rows: 1fr 9fr 2fr;
  grid-template-areas:
    "surveyItemLabel"
    "surveyItemQuestion"
    "surveyItemError"
}

.survey-item-label {
  grid-area: surveyItemLabel;
  margin-left: 10px;
  padding-left: 8px;
  padding-right: 8px;
}

.survey-item-question {
  grid-area: surveyItemQuestion;
}

.survey-item-error {
  grid-area: surveyItemError;
}

