<md-dialog aria-label="Autenticação de Usuário">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Autenticação de Usuário</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <h2>Informe seu email e senha.</h2>
        <md-input-container>
          <label>Email</label>
          <input type="email" id="email" ng-model="emailUser" required ng-keyup="onEnter($event)"/>
        </md-input-container>
        <md-input-container>
          <label>Senha</label>
          <input type="password" id="password" ng-model="passUser" required ng-keyup="onEnter($event)"/>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancel()">
        Cancelar
      </md-button>
      <md-button class="md-accent md-raised" ng-click="login()" ng-disabled="!isValid()">
        Entrar
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>