md-icon[md-svg-icon="eraser"] {
  color: #FF7B1C
}

md-icon[md-svg-icon="check"] {
  color: green
}

otus-survey-header md-chips-wrap {
  box-shadow: 0 0px !important;
}

otus-survey-header {
  transition: top linear;
  color: #727272;
  height: 60px;
  padding-bottom:8px;
  position: relative;
  top: 0;
  left: 0;
}

otus-survey-item {
  transition: opacity 2s linear;
}

.truncate {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade-out {
  opacity: 0;
  transition: 0s !important;
}

.fade-in {
  opacity: 1;
  transition: 1s !important;
}

.txtqst {
  width: 100% !important;
  margin-top: 2% !important;
}

.fab-speed-dial {
  z-index: 70;
  position: fixed;
  top: 30px;
  left: 10px;
}

otus-static-variable div md-content {
  max-height: 100%;
}

.comment-box {
  height:auto;
  color: #999;
  font-family:'Ubuntu', Helvetica, Arial, sans-serif;
  width: 100%;
  background: #fff;
  border-radius:5px;
  line-height: 2em;
  border: 2px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  padding: 4px;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
}

.disabled-comment-box {
  margin-bottom: 0;
  margin-left: 24px;
}

.shared-url-confirmation-text {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}

.shared-url-message {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0;
}

.shared-url-message md-icon {
  --icon-size: 64px;
  font-size: var(--icon-size) !important;
  width: var(--icon-size) !important;
  height: var(--icon-size) !important;
}

.shared-url-message-highlighted {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0;
  font-weight: bold;
}

.exit-error-message-button {
  margin-top: 16px
}

@media screen and (max-width: 600px) {
  .fab-speed-dial {
    left: 2px;
  }

  otus-survey-header {
    height: 120px;
    padding-bottom:8px;
  }

  otus-static-variable {
    max-height: 60%;
  }

  .display-side-margin {
  }

  .responsive-font-size {
    font-size: small;
  }

  .header-font {
    font-size: smaller;
  }

  .question-label {
    font-size: small;
  }

  .comment-box {
    font-size: small;
  }

  .disabled-comment-box {
    font-size: small;
    margin-left: 1px;
  }

  .shared-url-confirmation-text {
    font-size: 16px;
  }

  .shared-url-message {
    font-size: 16px;
  }

  .shared-url-message-highlighted {
    font-size: 20px;
  }
}

@media screen and (min-width: 601px) {

  .responsive-font-size {
    font-size: medium;
  }

  .header-font {
    font-size: medium;
    padding: 8px;
  }

  .question-label {
    font-size: medium;
    padding: 8px;
  }

  .comment-box {
    font-size: medium;
  }

  .shared-url-message {
    font-size: 24px;
  }
}

@media screen and (max-height: 650px) {
  .nav-up {
    height: 0;
    width: 0;
    top: -200px;
    left: 200px;
  }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .display-side-margin {
    margin-right: 2%;
    margin-left: 2%;
  }
}

@media screen and (min-width: 961px) and (max-width: 1280px) {
  .display-side-margin {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (min-width: 1281px) {
  .display-side-margin {
    margin-right: 10%;
    margin-left: 10%;
  }
}

md-sidenav {
  z-index: 65 !important;
  min-width: 320px !important;
}

.checkboxToolbar:not(.md-checked) .md-icon {
  border-color: #FFFFFF !important;
}

.player-commander-divider {
  min-height: 25px;
  color: black;
  border-left: 1px solid #ccc;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.no-margin-top-bottom {
  margin-bottom: 0px;
  margin-top: 0px;
}

.no-margin-sides {
  margin-left: 0px;
  margin-right: 0px;
}

.survey-item {
  background-color: white;
  border-radius: 16px
}

.survey-item-header {
  background-color: #d8d8d8;
  border-radius: 8px
}

.survey-item-ID {
  margin-left: 8px;
}

.autocomplete-fancy {
  border-radius: 8px
}

.shared-url-confirm-button {
  width: 160px !important;
  max-width: unset !important;
}