md-icon[md-svg-icon="eraser"] {
  color: #FF7B1C
}

md-icon[md-svg-icon="check"] {
  color: green
}

/* SURVEY HEADER */
otus-survey-header md-chips-wrap {
  box-shadow: 0 0px !important;
}

otus-survey-header {
  transition: top linear;
  color: #727272;
  height: 60px;
  padding-bottom:8px;
  position: relative;
  top: 0;
  left: 0;
}

@media screen and (max-width: 600px) {
  otus-survey-header {
    height: 120px;
    padding-bottom:8px;
  }
}

/* SURVEY ITEM */
otus-survey-item {
  transition: opacity 2s linear;
}

.truncate {
  flex: 1;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fade-out {
  opacity: 0;
  transition: 0s !important;
}

.fade-in {
  opacity: 1;
  transition: 1s !important;
}

.txtqst {
  width: 100% !important;
  margin-top: 2% !important;
}

.fab-speed-dial {
  z-index: 70;
  position: fixed;
  top: 30px;
  left: 10px;
}

otus-static-variable div md-content {
  max-height: 100%;
}

.comment-box {
  height:auto;
  color: #999;
  font-family:'Ubuntu', Helvetica, Arial, sans-serif;
  width: 100%;
  background: #fff;
  border-radius:5px;
  line-height: 2em;
  border: 2px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
  padding: 4px;
  -webkit-transition: height 2s ease;
  -moz-transition: height 2s ease;
  -ms-transition: height 2s ease;
  -o-transition: height 2s ease;
  transition: height 2s ease;
}

.disabled-comment-box {
  margin-bottom: 0;
  margin-left: 24px;
}

@media screen and (max-width: 600px) {
  .fab-speed-dial {
    left: 2px;
  }

  otus-static-variable {
    max-height: 60%;
  }

  .question-label {
    font-size: small;
  }

  .comment-box {
    font-size: small;
  }

  .disabled-comment-box {
    font-size: small;
    margin-left: 1px;
  }
}

@media screen and (min-width: 601px) {
  .question-label {
    font-size: medium;
  }

  .comment-box {
    font-size: medium;
  }
}

@media screen and (max-height: 650px) {
  .nav-up {
    height: 0;
    width: 0;
    top: -200px;
    left: 200px;
  }
}

md-sidenav {
  z-index: 65 !important;
  min-width: 320px !important;
}

.checkboxToolbar:not(.md-checked) .md-icon {
  border-color: #FFFFFF !important;
}

.answer-label-color{
  color: gray;
}

.player-commander-divider {
  min-height: 25px;
  color: black;
  border-left: 1px solid #ccc;
}

.no-margin-top-bottom {
  margin-bottom: 0px;
  margin-top: 0px;
}

.no-margin-sides {
  margin-left: 0px;
  margin-right: 0px;
}