<md-button id="accept-button" ng-class="{ 'md-primary': $ctrl.forceAnswer, 'md-raised': !$ctrl.forceAnswer }"
           ng-click="$ctrl.showConfirm($event)"
           ng-show="$ctrl.showAccept()" class="md-fab md-primary md-mini" aria-label="Aceitar resposta">
  <md-icon>check</md-icon>
  <md-tooltip md-direction="top">
    Aceitar resposta
  </md-tooltip>
</md-button>

<md-button ng-click="$ctrl.clear('comment')" class="md-fab md-raised md-mini" aria-label="Comentario">
  <md-icon>backspace</md-icon>
  <md-tooltip md-direction="top">
    Limpar comentário
  </md-tooltip>
</md-button>

<md-button ng-click="$ctrl.clearAnswer()" class="md-fab md-raised md-mini" aria-label="Questão">
  <md-icon>delete</md-icon>
  <md-tooltip md-direction="top">
    Limpar resposta
  </md-tooltip>
</md-button>

