<div layout="column" layout-padding="" ng-if="!$ctrl.selectedGroup">
  <h2 class="md-title" flex="" align="center">Crie grupos de coletas informando uma observação sobre o grupo e após crie
    suas coletas de atividades.</h2>
  <div layout="row" flex="100" layout-align="center start">
    <md-input-container flex="100" flex-gt-lg="40" flex-gt-md="50" flex-gt-sm="60" flex-gt-xs="80">
      <label>Observação do grupo:</label>
      <input ng-model="$ctrl.observation" md-maxlength="300" maxlength="300"/>

    </md-input-container>
    <md-button ng-click="$ctrl.newGroup()" class="md-raised md-primary md-fab md-mini" ng-disabled="!$ctrl.observation">
      <md-icon>add</md-icon>
      <md-tooltip md-direction="top">Criar</md-tooltip>
    </md-button>
  </div>
  <md-content layout="column" flex="100" layout-align="center center" layout-fill="">
    <div class="md-border-dashed" layout-align="center center" flex-gt-lg="10"
         ng-if="!$ctrl.groups.length && $ctrl.ready">
      <span class="md-title"><md-icon>add</md-icon>Adicione grupos</span>
    </div>
    <md-content layout="column" flex="100" layout-padding layout-fill="">

      <md-list flex="" ng-show="$ctrl.groups.length">
        <md-subheader>Grupos de coletas</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="group in $ctrl.groups" ng-click="$ctrl.selectGroup(group)">
          <md-icon class="md-avatar-icon">group_work</md-icon>
          <div class="md-list-item-text">
            <h3>{{group.observation}}</h3>
            <small><p>{{group.collections.length}} Coleta(s)</p></small>
          </div>
          <md-button class="md-icon-button md-mini md-accent">
            <md-icon>navigate_next</md-icon>
          </md-button>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </md-content>
  </md-content>
</div>

<md-content layout="column" flex ng-if="$ctrl.selectedGroup" layout-padding="">
  <md-button class="md-icon-button md-primary md-raised" ng-click="$ctrl.back()">
    <md-icon>arrow_back</md-icon>
  </md-button>
  <activity-collection show-commands="$ctrl.showCommands" layout="column" group="$ctrl.selectedGroup"
                       commands="$ctrl.commands" flex back="$ctrl.back"
                       user="$ctrl.user"></activity-collection>
</md-content>

