<style>
  figcaption {
    display: flex !important;
  }
</style>
<md-content ng-if="$ctrl.activities.length > 0" layout="column" layout-wrap layout-fill="" flex layout-padding="">
  <span flex="5"></span>
  <div layout="row" layout-align="start center">
    <md-button ng-click="$ctrl.goToCallback()" class="md-raised"><md-icon>arrow_back</md-icon>voltar</md-button>
  </div>
  <div layout="column">
    <span class="md-headline" layout="column" layout-align="center center">Atividades pendentes (não salvas)</span>
  </div>
  <div layout="row" layout-align="end center">
    <md-button class="md-accent md-primary" ng-click="$ctrl.saveAll()">Enviar todas</md-button>
  </div>
  <md-content layout="column" flex="">
    <div layout="column" layout-padding>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="activity in $ctrl.activities"
                      ng-click="null">
          <md-chips layout-padding="">
            <md-chip>
              <strong>{{ activity.surveyForm.acronym }}</strong>
            </md-chip>
          </md-chips>
          <div class="md-list-item-text" layout="column">
            <span class="md-body-1"> {{ activity.surveyForm.name }}</span>
            <p class="md-caption">{{ activity.participantData.name }} - {{activity.participantData.recruitmentNumber}}</p>
          </div>
          <span class="md-caption" flex="20" flex-gt-sm="10"> {{ $ctrl.STATUS[activity.statusHistory[activity.statusHistory.length - 1].name] }}</span>
          <md-button ng-if="!activity.saved && !activity.loading" class="md-icon-button md-accent" flex-offset="5" ng-click="$ctrl.save(activity)">
            <md-icon>save</md-icon>
          </md-button>
          <md-button flex-offset="5" class="md-icon-button md-accent" ng-if="!activity.saved && activity.loading" layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular md-diameter="20px" md-mode="indeterminate"></md-progress-circular>
          </md-button>
          <md-button flex-offset="5" class="md-icon-button md-accent" ng-if="activity.saved">
            <md-icon>
              done
            </md-icon>
          </md-button>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
    </div>
  </md-content>
  <span flex="20"></span>
</md-content>

<md-content ng-if="$ctrl.activities.length < 1" layout="column" layout-fill="" flex layout-padding="">
  <span flex="5"></span>
  <div layout="row" layout-align="start center">
    <md-button ng-click="$ctrl.goToCallback()" class="md-raised"><md-icon>arrow_back</md-icon> Voltar</md-button>
  </div>
  <span flex="5"></span>
  <div layout="row" layout-align="center center">
    <span class="md-display-1">Não há atividades pendentes de envio</span>
  </div>
  <span flex="5"></span>
  <div layout="column" layout-align="center center">
    <div>
      <img height="250px" width="250px" ng-src="{{$ctrl.imageURL}}" />
    </div>
  </div>
</md-content>
