<div layout-align="center center" layout="column" flex>

  <div class="md-display-1 shared-url-confirmation-text" ng-bind-html="$ctrl.message"></div>

  <div layout="column" layout-align="start center">
    <md-button class="md-raised md-primary shared-url-confirm-button" aria-label="Sim" ng-click="$ctrl.play()">
      <md-icon md-font-set="material-icons">check</md-icon>
      Sim, sou eu!
    </md-button>
    <md-button style="margin-top: 24px; text-transform: capitalize;" aria-label="Nao" ng-click="$ctrl.stop()" >
      Não sou eu.
    </md-button>
  </div>
</div>